html {
  scroll-snap-type: y mandatory;
}

.app_logo{
  height: 50px;
  object-fit: contain;
}

.app{
  height: 105vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos{
  position: relative;
  height: 640px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 374px;
  scroll-snap-type: y mandatory;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos{
  -ms-overflow-style:none;
  scrollbar-width:none;
}